.panda-custom-bg{
    background-color: #fceae8;
}
.panda-custom-btn{
    color:white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.categories img{
    width: 100px;
}
.panda-custom-borders{
    border-radius: 10px;
}
